transformers==4.50.0
datasets==3.5.0
peft==0.14.0
trl==0.11.4
huggingface_hub>=0.20.0
accelerate==1.5.2
bitsandbytes==0.45.4
torchsummary==1.5.1
fsspec
gcsfs 
torch @ https://download.pytorch.org/whl/cu124/torch-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/cu124/torchaudio-2.6.0%2Bcu124-cp311-cp311-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/cu124/torchvision-0.21.0%2Bcu124-cp311-cp311-linux_x86_64.whl

